/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* global styles */

body {
    font-size: 100%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.5;
    margin: 0;
  }
  
  *, ::after, ::before {
    box-sizing: border-box;
  }
  
  .root {
    padding: 1rem;
  }
  
  /* grid styles */
  
  .container {
    --columns: 12; /* number of columns in the grid system */
    
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .column {
    --width: 0; /* default value */
    border-radius: 8px;
    padding: 16px;
    flex-basis: calc(var(--width) / var(--columns) * 100%);
  }
  
  
  /* sections */
  
  .header {
    --width: 12;
    height: 8rem;
  }
  
  .content {
    --width: 8;
    height: 64rem;
  }
  
  .sidebar {
    --width: 4;
  }